:root {
  --primary-color: #000;
  --secondary-color: #262626;
  --third-color: #1c1c1c;
  --fourth-color:#717171;
  --background-color-1: #454545;
  --background-color-2: #343434;
  --text-color-main: #ffffff;
  --text-color-regular: #f6f6f6;
  --green-main: #4da14f;
  --green-tranparent: #4da14f50;
  --orange-main: #ff8800;
  --orange-tranparent: #ff880050;
  --red-main: #e54545;
  --red-tranparent: #e5454550;
  --yellow-main: #f0b90b;
  --yellow-regular: #f1cb51;
}

html, *, *::after, *::before {
  width: 100%;
  font-size: 16px;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  list-style: none;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  display: flex;
  justify-content: center;
  background-color: var(--primary-color);
}

body {
  max-width: 1450px;
}
h1 {
  text-align: center;
  font-size: 2rem;
}